<div>
    <snap-content snap-opt-tap-to-close="false">

        <a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x"></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x"></i>
			</span>
        </a>

        <div class="fr">
            <h2>question
                <small>Create question</small>
                <a ui-sref="login" class="btn btn-primary btn-lg btn-white" style="margin: 0% 0% 0% 75%">Logout</a>
            </h2>

        </div>
        <div class="jumbotron">
            <div class="container">
                <div ng-controller="createQuestionCtrl">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading"><h2>Create Question</h2></div>
                        <!-- Table -->
                        <table class="table">
                            <tr>
                                <div>
                                    <label class="col-md-12 control-label"></label>
                                    <div class="col-md-12">
                                        <input id="question" name="question" type="text" placeholder="write your Question here!"
                                               class="form-control input-md" ng-model="question.question">
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-12">
                                        <input id="answer1" name="answer1" type="text" placeholder="answer1"
                                               class="form-control input-md" ng-model="question.answer1">
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-12">
                                        <input id="answer2" name="answer2" type="text" placeholder="answer2"
                                               class="form-control input-md" ng-model="question.answer2">
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-12">
                                        <input id="answer3" name="answer3" type="text" placeholder="answer3"
                                               class="form-control input-md" ng-model="question.answer3">
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-12">
                                        <input id="answer4" name="answer4" type="text" placeholder="answer4"
                                               class="form-control input-md" ng-model="question.answer4">
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-12">
                                        <input id="right" name="right" type="number" min="1" max="4" value="1" placeholder="right Answer"
                                               class="form-control input-md" ng-model="question.right">
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-12">
                                        <input id="points" name="points" type="number" min="1" value="1" placeholder="score"
                                               class="form-control input-md" ng-model="question.points">
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-12">
                                        <input id="time" name="time" type="number" min="10" value="1" placeholder="answer time in seconds"
                                               class="form-control input-md" ng-model="question.time">
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-12">
                                        <input id="starttime" name="starttime" type="text" placeholder="starttime"
                                               class="form-control input-md" ng-model="question.starttime">
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-12">
                                        <input id="endtime" name="endtime" type="text" placeholder="endtime"
                                               class="form-control input-md" ng-model="question.endtime">
                                    </div>
                                </div>


                                <!-- TODO add Click Function ng-click="" -->
                                <a ng-click="save()" class="btn btn-primary btn-lg btn-white"
                                   style="margin:10px 10px 10px 15px">Save</a>
                                <!-- TODO add editquestion to ui-sref=""-->
                                <a class="btn btn-primary btn-lg btn-white"
                                   style="margin:10px 10px 10px 15px">Cancel</a>
                            </tr>
                        </table>
                    </div>










                    </div>
                </div>
            </div>
        </snap-content>
    </div>
